<div class="row-fluid">
<%= render "link/menu_link" %>
  <div class="span9">
    <div class="row-fluid">
    	<div class="span9">
    		<div class="well">
    			<h2>Create job</h2>
    			<hr />
    			<%= render('form') %>
    		</div>
    	</div>
    	<div class="span3">
    		<div class="well">
    			<h3>Need help ??</h3>
    			<p>read online guide <a href="#">here</a></p>
    		</div>
    	</div>
    </div>
  </div>
</div>