<div class="row-fluid">
	<%#= render "link/menu_link" %>
	<div class="span12">
		<div class="alert alert-notice">Maaf untuk sementara aplikasi belum dapat dijalankan karena menunggu ijin dari Rektor.</div>
	</div>
	</div>
</div>