<div class="span6">
  <%= f.input :ijazah, :as => :file, :label => "File Ijazah yang dilegalisir" %>
  <%= f.input :transkrip_nilai, :as => :file, :label => "File Transkrip Nilai yang dilegalisir" %>
  <%= f.input :field_activity_description_1, :as => :file, :label => "Surat keterangan kegiatan mahasiswa yg sesuai dengan bidang ilmu" %>
</div>