/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require bootstrap-responsive
*/
/* Override some defaults */

body {
	padding-top: 60px;
    padding-bottom: 40px;
      }
.sidebar-nav {
    padding: 9px 0;
}

input.boolean{
	float: left;
	margin-right: 10px;
}

.head_name{
	margin-bottom: 5px;
}

.error_notification{
	color: #FF0000;
	background: #F8BDBD;
	padding: 5px;
	width: 310px;
	border: solid;
	border-width: 1px;
	border-color: #FF0000;
	font-weight: bold;
}
.error{
	color: #FF0000;
	margin-bottom: 10px;
}
