/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require bootstrap-responsive
 * *= require ajaxful_rating
 *= require jquery.ui.datepicker
*/
/* Override some defaults */

body {
	padding-top: 60px;
    padding-bottom: 40px;
      }
.sidebar-nav {
    padding: 9px 0px;
}

input.boolean{
	float: left;
	margin-right: 10px;
}

.head_name{
	margin-bottom: 5px;
}

.error_notification{
	color: #FF0000;
	background: #F8BDBD;
	padding: 5px;
	width: 310px;
	border: solid;
	border-width: 1px;
	border-color: #FF0000;
	font-weight: bold;
}
.error{
	color: #FF0000;
	margin-bottom: 10px;
}

span.hint{
	margin-left: 5px;
}


.image_tag a{
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 25px;
}

.image_tag img{
	width: 25px;
	height: 25px;
}

.delete_margin_left{
	margin-left: 0px;
}

span.checkbox{
	padding-left: 0px;
}

.check_boxes{
	padding-left: 18px;
}
.collection_check_boxes{
	margin-left: 5px;
}

.align-salary{
	text-align: right;
}

#sal-up, #sal-down{
	cursor: pointer;
}

#error_count{
	color: red;
}

.job_area{
	padding: 10px;
	float: left;
}

.align{
	
}

.align:hover{
	
}

.exp{
	float: left;
	width: 100%;
}

.desc{
	float: left;
	width: 100%;
}

.keyword{
	float: left;
	width: 100%;
}
.margin_bottom{
	margin-bottom: 10px;
	border: solid 1px transparent;
	clear: both;
}

.margin_bottom:hover{
	border: solid 1px #7CBADB;
	background-color: #ECF3F9;
}

.area-city{
	color: red;
	font-weight: bold;
	margin-right: 5px;
	float: left;
}

.area-salary{
	float: left;
	
	color: #9D9D9D;
}

.head_title{
	color: #7CBADB;
}

.overview{
	padding: 5px;
}

.overview_info{
	width: 70%;
	float: left;
	margin-bottom: 3px;
}

.overview_name{
	width: 30%;
	float: left;
	font-weight: bold;
	color: #532929;
	margin-bottom: 3px;
}

.active{
	color: #10CC2F;
	font-weight: bold;
}

.deactive{
	color: #fd2222;
	font-weight: bold;
}

.prog{
	color: #e58632;
	font-weight: bold;
}
.editor_top{
	margin-top: 10px;
}

.salary_app{
	color: red;
	margin-bottom: 10px;
	font-weight: bold;
}


.hed{
	font-weight: bold;
}

.icon{
	text-align: right;
}

.icon_tag{
	margin-left: 5px;
}

.bottom{
	margin-bottom: 5px;
}

.cover_head{
	margin-bottom: 5px;
}
.cover_head_name{
	float: left;
	width: 25%;
	height: 20px;
}

.cover_head_info{
	float: left;
	width: 75%;
	height: 20px;
}

span.error{
  margin-left: 10px;
}
