      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="i-bar"></span>
            <span class="i-bar"></span>
            <span class="i-bar"></span>
          </a>
          <a class="brand" href="/">Bantuin</a>
          <div class="nav-collapse">
			<%= render :partial => "common/menu"%>
            <%= render :partial => "common/session_menu"%>
          </div><!--/.nav-collapse -->
        </div>
      </div>